.img{
    margin-left: 40%;
    margin-right: 20%;
   
}

.para{

    margin-left: 40%;
    margin-right: 20%;
    font-family: "Ga Maamli", sans-serif;
        font-weight: 400;
        font-style: normal;

    }

  